In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from matplotlib.colors import ListedColormap

# 데이터 불러오고 모든 값이 null인 컬럼과 모든 값이 동일한 컬럼 제거

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_by_diskmodel/combined_MB1.csv", chunksize=100000):
    data = pd.concat([data, chunk], ignore_index=True)
data

# 데이터를 시간 순서대로 정렬 ('ds' 컬럼을 기준으로)
data = data.sort_values(by='ds')
del(data['index'])
data

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,r_12,n_170,r_170,n_171,r_171,n_172,r_172,n_173,r_173,n_174,r_174,n_177,r_177,n_180,r_180,...,n_197,r_197,n_198,r_198,n_199,r_199,n_206,r_206,n_233,r_233,n_241,r_241,n_242,r_242,n_244,r_244,n_245,r_245,n_175,r_175,n_232,r_232,label,n_211,r_211
0,10005,20190101,MB1,NaN,NaN,100.0,0.0,99.0,4600.0,99.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,5.0,100.0,6515.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,2.189215e+09,99.0,2.041073e+09,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
25641,39138,20190101,MB1,NaN,NaN,100.0,0.0,97.0,13256.0,99.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,143.0,100.0,6565.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,4.680026e+11,99.0,3.996304e+11,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
25642,3918,20190101,MB1,NaN,NaN,100.0,0.0,97.0,13305.0,99.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,71.0,100.0,6468.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,9.327556e+10,99.0,5.956923e+10,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
25643,39187,20190101,MB1,NaN,NaN,100.0,0.0,97.0,12934.0,99.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,244.0,100.0,6550.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,6.332917e+11,99.0,3.855869e+11,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
25644,39189,20190101,MB1,NaN,NaN,100.0,0.0,97.0,12934.0,99.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,237.0,100.0,6525.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,6.095518e+11,99.0,3.592685e+11,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7106047,27627,20190630,MB1,NaN,NaN,100.0,0.0,96.0,17027.0,99.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,71.0,100.0,6541.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,1.548638e+11,99.0,5.259749e+10,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
7106048,27631,20190630,MB1,NaN,NaN,100.0,0.0,96.0,17027.0,99.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,24.0,100.0,6490.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,1.032149e+10,99.0,4.736847e+09,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
7106049,27676,20190630,MB1,NaN,NaN,100.0,0.0,96.0,18069.0,99.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,235.0,100.0,6496.0,...,100.0,0.0,NaN,NaN,99.0,6.0,NaN,NaN,NaN,NaN,99.0,6.187498e+11,99.0,1.053691e+12,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
7106042,27586,20190630,MB1,NaN,NaN,100.0,0.0,98.0,8476.0,99.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,121.0,100.0,6541.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,4.016917e+11,99.0,2.337927e+11,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN
7132652,9975,20190630,MB1,NaN,NaN,100.0,0.0,96.0,17397.0,99.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,25.0,100.0,6513.0,...,100.0,0.0,NaN,NaN,100.0,0.0,NaN,NaN,NaN,NaN,99.0,7.175013e+09,99.0,3.882591e+09,100.0,0.0,100.0,65535.0,NaN,NaN,NaN,NaN,0,NaN,NaN

In [ ]:
data.shape

(7132653, 72)

In [ ]:
data.columns

Index(['disk_id', 'ds', 'model', 'n_1', 'r_1', 'n_5', 'r_5', 'n_9', 'r_9',
       'n_12', 'r_12', 'n_170', 'r_170', 'n_171', 'r_171', 'n_172', 'r_172',
       'n_173', 'r_173', 'n_174', 'r_174', 'n_177', 'r_177', 'n_180', 'r_180',
       'n_181', 'r_181', 'n_182', 'r_182', 'n_183', 'r_183', 'n_184', 'r_184',
       'n_187', 'r_187', 'n_188', 'r_188', 'n_190', 'r_190', 'n_192', 'r_192',
       'n_194', 'r_194', 'n_195', 'r_195', 'n_196', 'r_196', 'n_197', 'r_197',
       'n_198', 'r_198', 'n_199', 'r_199', 'n_206', 'r_206', 'n_233', 'r_233',
       'n_241', 'r_241', 'n_242', 'r_242', 'n_244', 'r_244', 'n_245', 'r_245',
       'n_175', 'r_175', 'n_232', 'r_232', 'label', 'n_211', 'r_211'],
      dtype='object')

Null값으로 이루어진 열 제거

In [ ]:
# null값이 있는 열을 제거하는 코드
def remove_null_columns(df):
    # null인 컬럼을 확인하고, 모든 값이 null인 컬럼을 찾습니다.
    null_columns = df.columns[df.isnull().all()]
    
    # 모든 값이 null인 컬럼을 DataFrame에서 제거합니다.
    df = df.drop(null_columns, axis=1)
    
    return df

In [ ]:
data = remove_null_columns(data)
data.shape

(7132653, 42)

In [ ]:
data.columns

Index(['disk_id', 'ds', 'model', 'n_5', 'r_5', 'n_9', 'r_9', 'n_12', 'r_12',
       'n_177', 'r_177', 'n_180', 'r_180', 'n_181', 'r_181', 'n_182', 'r_182',
       'n_183', 'r_183', 'n_184', 'r_184', 'n_187', 'r_187', 'n_190', 'r_190',
       'n_194', 'r_194', 'n_195', 'r_195', 'n_197', 'r_197', 'n_199', 'r_199',
       'n_241', 'r_241', 'n_242', 'r_242', 'n_244', 'r_244', 'n_245', 'r_245',
       'label'],
      dtype='object')

In [ ]:
data.to_csv('../ssd_data/combined_by_diskmodel/combined_MB1_preprocessed.csv',index=False)

null값이 많아서 불러오는게 시간이 걸려서 일단 없애고 csv를 만들고 그뒤 전처리를 계속한다.

In [50]:
import pandas as pd

data = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_by_diskmodel/combined_MB1_preprocessed.csv", chunksize=1000000):
    data = pd.concat([data, chunk], ignore_index=True)
data

,disk_id,ds,model,n_5,r_5,n_9,r_9,n_12,r_12,n_177,...,r_199,n_241,r_241,n_242,r_242,n_244,r_244,n_245,r_245,label
0,10005,20190101,MB1,100.0,0.0,99.0,4600.0,99.0,36.0,99.0,...,0.0,99.0,2.189215e+09,99.0,2.041073e+09,100.0,0.0,100.0,65535.0,0
1,39138,20190101,MB1,100.0,0.0,97.0,13256.0,99.0,16.0,98.0,...,0.0,99.0,4.680026e+11,99.0,3.996304e+11,100.0,0.0,100.0,65535.0,0
2,3918,20190101,MB1,100.0,0.0,97.0,13305.0,99.0,17.0,99.0,...,0.0,99.0,9.327556e+10,99.0,5.956923e+10,100.0,0.0,100.0,65535.0,0
3,39187,20190101,MB1,100.0,0.0,97.0,12934.0,99.0,18.0,96.0,...,0.0,99.0,6.332917e+11,99.0,3.855869e+11,100.0,0.0,100.0,65535.0,0
4,39189,20190101,MB1,100.0,0.0,97.0,12934.0,99.0,18.0,96.0,...,0.0,99.0,6.095518e+11,99.0,3.592685e+11,100.0,0.0,100.0,65535.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7132648,27627,20190630,MB1,100.0,0.0,96.0,17027.0,99.0,16.0,99.0,...,0.0,99.0,1.548638e+11,99.0,5.259749e+10,100.0,0.0,100.0,65535.0,0
7132649,27631,20190630,MB1,100.0,0.0,96.0,17027.0,99.0,16.0,99.0,...,0.0,99.0,1.032149e+10,99.0,4.736847e+09,100.0,0.0,100.0,65535.0,0
7132650,27676,20190630,MB1,100.0,0.0,96.0,18069.0,99.0,25.0,96.0,...,6.0,99.0,6.187498e+11,99.0,1.053691e+12,100.0,0.0,100.0,65535.0,0
7132651,27586,20190630,MB1,100.0,0.0,98.0,8476.0,99.0,27.0,98.0,...,0.0,99.0,4.016917e+11,99.0,2.337927e+11,100.0,0.0,100.0,65535.0,0
7132652,9975,20190630,MB1,100.0,0.0,96.0,17397.0,99.0,22.0,99.0,...,0.0,99.0,7.175013e+09,99.0,3.882591e+09,100.0,0.0,100.0,65535.0,0

In [36]:
# 하나의 unique한 값으로만 이루어진 컬럼을 제거하는 코드
def remove_single_value_columns(df):
    single_value_cols = []
    for col in df.columns:
        unique_values = df[col].nunique()
        if unique_values == 1:
            single_value_cols.append(col)

    df_filtered = df.drop(single_value_cols, axis=1)
    return df_filtered

In [37]:
data = remove_single_value_columns(data)
data

,disk_id,ds,n_5,r_5,n_9,r_9,n_12,r_12,n_177,r_177,...,r_194,n_195,r_195,n_199,r_199,n_241,r_241,n_242,r_242,label
0,10005,20190101,100.0,0.0,99.0,4600.0,99.0,36.0,99.0,5.0,...,27.0,200.0,0.0,100.0,0.0,99.0,2.189215e+09,99.0,2.041073e+09,0
1,39138,20190101,100.0,0.0,97.0,13256.0,99.0,16.0,98.0,143.0,...,30.0,200.0,0.0,100.0,0.0,99.0,4.680026e+11,99.0,3.996304e+11,0
2,3918,20190101,100.0,0.0,97.0,13305.0,99.0,17.0,99.0,71.0,...,31.0,200.0,0.0,100.0,0.0,99.0,9.327556e+10,99.0,5.956923e+10,0
3,39187,20190101,100.0,0.0,97.0,12934.0,99.0,18.0,96.0,244.0,...,31.0,200.0,0.0,100.0,0.0,99.0,6.332917e+11,99.0,3.855869e+11,0
4,39189,20190101,100.0,0.0,97.0,12934.0,99.0,18.0,96.0,237.0,...,30.0,200.0,0.0,100.0,0.0,99.0,6.095518e+11,99.0,3.592685e+11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7132648,27627,20190630,100.0,0.0,96.0,17027.0,99.0,16.0,99.0,71.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.548638e+11,99.0,5.259749e+10,0
7132649,27631,20190630,100.0,0.0,96.0,17027.0,99.0,16.0,99.0,24.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.032149e+10,99.0,4.736847e+09,0
7132650,27676,20190630,100.0,0.0,96.0,18069.0,99.0,25.0,96.0,235.0,...,31.0,200.0,0.0,99.0,6.0,99.0,6.187498e+11,99.0,1.053691e+12,0
7132651,27586,20190630,100.0,0.0,98.0,8476.0,99.0,27.0,98.0,121.0,...,33.0,200.0,0.0,100.0,0.0,99.0,4.016917e+11,99.0,2.337927e+11,0
7132652,9975,20190630,100.0,0.0,96.0,17397.0,99.0,22.0,99.0,25.0,...,25.0,200.0,0.0,100.0,0.0,99.0,7.175013e+09,99.0,3.882591e+09,0

In [48]:
data

,disk_id,ds,n_5,r_5,n_9,r_9,n_12,r_12,n_177,r_177,...,r_194,n_195,r_195,n_199,r_199,n_241,r_241,n_242,r_242,label
0,10005,20190101,100.0,0.0,99.0,4600.0,99.0,36.0,99.0,5.0,...,27.0,200.0,0.0,100.0,0.0,99.0,2.189215e+09,99.0,2.041073e+09,0
1,39138,20190101,100.0,0.0,97.0,13256.0,99.0,16.0,98.0,143.0,...,30.0,200.0,0.0,100.0,0.0,99.0,4.680026e+11,99.0,3.996304e+11,0
2,3918,20190101,100.0,0.0,97.0,13305.0,99.0,17.0,99.0,71.0,...,31.0,200.0,0.0,100.0,0.0,99.0,9.327556e+10,99.0,5.956923e+10,0
3,39187,20190101,100.0,0.0,97.0,12934.0,99.0,18.0,96.0,244.0,...,31.0,200.0,0.0,100.0,0.0,99.0,6.332917e+11,99.0,3.855869e+11,0
4,39189,20190101,100.0,0.0,97.0,12934.0,99.0,18.0,96.0,237.0,...,30.0,200.0,0.0,100.0,0.0,99.0,6.095518e+11,99.0,3.592685e+11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7132648,27627,20190630,100.0,0.0,96.0,17027.0,99.0,16.0,99.0,71.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.548638e+11,99.0,5.259749e+10,0
7132649,27631,20190630,100.0,0.0,96.0,17027.0,99.0,16.0,99.0,24.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.032149e+10,99.0,4.736847e+09,0
7132650,27676,20190630,100.0,0.0,96.0,18069.0,99.0,25.0,96.0,235.0,...,31.0,200.0,0.0,99.0,6.0,99.0,6.187498e+11,99.0,1.053691e+12,0
7132651,27586,20190630,100.0,0.0,98.0,8476.0,99.0,27.0,98.0,121.0,...,33.0,200.0,0.0,100.0,0.0,99.0,4.016917e+11,99.0,2.337927e+11,0
7132652,9975,20190630,100.0,0.0,96.0,17397.0,99.0,22.0,99.0,25.0,...,25.0,200.0,0.0,100.0,0.0,99.0,7.175013e+09,99.0,3.882591e+09,0

첫 관측 ~ 마지막 관측 사이 결측치 채우기

In [38]:
selected_disk_ids=data[data['label']==1]['disk_id'].unique()

dfs_to_concat = []  # 추가할 데이터프레임들을 저장할 리스트

for disk_id in selected_disk_ids:
    disk_data = data[data['disk_id'] == disk_id].copy()
    disk_data['ds'] = pd.to_datetime(disk_data['ds'], format='%Y%m%d')
    disk_data = disk_data.sort_values(by='ds')
    disk_data = disk_data.set_index('ds', drop=True)
    all_dates = pd.date_range(start=disk_data.index.min(), end=disk_data.index.max(), freq='D')
    disk_data = disk_data.reindex(all_dates)
    disk_data = disk_data.interpolate(method='linear')
    dfs_to_concat.append(disk_data)

selected_filtered_data_failed = pd.concat(dfs_to_concat)  # 데이터프레임들을 연결하여 새로운 데이터프레임 생성

selected_filtered_data_failed = selected_filtered_data_failed.reset_index()  # 인덱스 재설정

fail이 일어난 뒤의 disk_id는 제거

In [39]:
selected_filtered_data_failed

,index,disk_id,n_5,r_5,n_9,r_9,n_12,r_12,n_177,r_177,...,r_194,n_195,r_195,n_199,r_199,n_241,r_241,n_242,r_242,label
0,2019-01-01,17909.0,99.0,2.0,97.0,12819.0,99.0,19.0,97.0,155.0,...,32.0,199.0,1.0,100.0,0.0,99.0,4.761304e+11,99.0,3.422788e+11,1.0
1,2019-01-02,17909.0,99.0,2.0,97.0,12843.0,99.0,19.0,97.0,155.0,...,31.0,199.0,1.0,100.0,0.0,99.0,4.774871e+11,99.0,3.432220e+11,0.0
2,2019-01-03,17909.0,99.0,2.0,97.0,12867.0,99.0,19.0,97.0,156.0,...,31.0,199.0,1.0,100.0,0.0,99.0,4.790559e+11,99.0,3.467700e+11,0.0
3,2019-01-04,17909.0,99.0,2.0,97.0,12891.0,99.0,19.0,97.0,156.0,...,32.0,199.0,1.0,100.0,0.0,99.0,4.805626e+11,99.0,3.477830e+11,0.0
4,2019-01-05,17909.0,99.0,2.0,97.0,12915.0,99.0,19.0,97.0,157.0,...,31.0,199.0,1.0,100.0,0.0,99.0,4.819720e+11,99.0,3.512526e+11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43895,2019-06-26,8599.0,100.0,0.0,96.0,17168.0,99.0,21.0,91.0,623.0,...,30.0,200.0,0.0,100.0,0.0,99.0,2.201000e+12,99.0,8.356453e+11,0.0
43896,2019-06-27,8599.0,100.0,0.0,96.0,17192.0,99.0,21.0,91.0,623.0,...,30.0,200.0,0.0,100.0,0.0,99.0,2.201312e+12,99.0,8.362658e+11,0.0
43897,2019-06-28,8599.0,100.0,0.0,96.0,17216.0,99.0,21.0,91.0,624.0,...,31.0,200.0,0.0,100.0,0.0,99.0,2.201585e+12,99.0,8.371074e+11,0.0
43898,2019-06-29,8599.0,99.0,2.0,96.0,17240.0,99.0,21.0,91.0,624.0,...,30.0,200.0,0.0,100.0,0.0,99.0,2.201871e+12,99.0,8.379656e+11,0.0
43899,2019-06-30,8599.0,99.0,2.0,96.0,17264.0,99.0,21.0,91.0,624.0,...,30.0,200.0,0.0,100.0,0.0,99.0,2.201928e+12,99.0,8.381230e+11,1.0

In [40]:
# index 컬럼에 따라 정렬
selected_filtered_data_failed = selected_filtered_data_failed.sort_values(by=['disk_id','index'])
# 결과 출력
selected_filtered_data_failed

selected_filtered_data_failed['index'] = pd.to_datetime(selected_filtered_data_failed['index'], format='%Y%m%d')

remove_indexes = []
for index, row in selected_filtered_data_failed.iterrows():
    if row['label'] == 1:
        disk_id = row['disk_id']
        index = row['index']
        remove_indexes.extend(selected_filtered_data_failed.index[(selected_filtered_data_failed['disk_id'] == disk_id) & (selected_filtered_data_failed['index'] > index)].tolist())

# 중복된 인덱스를 제거하여 제거할 행들을 구함
remove_indexes = list(set(remove_indexes))

# 제거할 행을 제외한 최종 DataFrame을 생성
del_fail_after_row = selected_filtered_data_failed.drop(index=remove_indexes)

# 결과 출력
del_fail_after_row

,index,disk_id,n_5,r_5,n_9,r_9,n_12,r_12,n_177,r_177,...,r_194,n_195,r_195,n_199,r_199,n_241,r_241,n_242,r_242,label
12656,2019-01-01,470.0,99.0,4.0,97.0,14280.0,99.0,18.0,99.0,7.0,...,28.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.543009e+09,0.0
12657,2019-01-02,470.0,99.0,4.0,97.0,14304.0,99.0,18.0,99.0,7.0,...,28.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.544827e+09,0.0
12658,2019-01-03,470.0,99.0,4.0,97.0,14328.0,99.0,18.0,99.0,7.0,...,28.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.546758e+09,0.0
12659,2019-01-04,470.0,99.0,4.0,97.0,14352.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.548679e+09,0.0
12660,2019-01-05,470.0,99.0,4.0,97.0,14376.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.550465e+09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15344,2019-03-21,44338.0,99.0,2.0,96.0,16176.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.778025e+09,0.0
15345,2019-03-22,44338.0,99.0,2.0,96.0,16200.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.779657e+09,0.0
15346,2019-03-23,44338.0,99.0,2.0,96.0,16224.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.781085e+09,0.0
15347,2019-03-24,44338.0,99.0,2.0,96.0,16248.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.782419e+09,0.0
15348,2019-03-25,44338.0,99.0,2.0,96.0,16272.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.783980e+09,1.0

30일 이전의 disk를 1로 라벨링하기

In [41]:
import pandas as pd

# 'index' 컬럼을 datetime 형태로 변환
del_fail_after_row['index'] = pd.to_datetime(del_fail_after_row['index'], format='%Y%m%d')

# 모든 행에 대해 반복
for index, row in del_fail_after_row.iterrows():
    # label 값이 1인 경우
    if row['label'] == 1:
        # 해당 행의 disk_id
        current_disk_id = row['disk_id']
        # 해당 행의 날짜
        current_date = row['index']
        # 30일 이전의 날짜 계산
        days_before = current_date - pd.Timedelta(days=30)
        
        # 같은 disk_id이면서, 날짜가 30일 이내인 행들을 찾아서 label 값을 1로 설정
        del_fail_after_row.loc[(del_fail_after_row['disk_id'] == current_disk_id) &
                             (del_fail_after_row['index'] <= current_date) &
                             (del_fail_after_row['index'] > days_before), 'label'] = 1

In [42]:
del_fail_after_row[del_fail_after_row['label']==1]

,index,disk_id,n_5,r_5,n_9,r_9,n_12,r_12,n_177,r_177,...,r_194,n_195,r_195,n_199,r_199,n_241,r_241,n_242,r_242,label
12710,2019-02-24,470.0,99.0,4.0,96.0,15574.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383236e+10,99.0,8.718806e+09,1.0
12711,2019-02-25,470.0,99.0,4.0,96.0,15598.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383236e+10,99.0,8.720226e+09,1.0
12712,2019-02-26,470.0,99.0,4.0,96.0,15622.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383236e+10,99.0,8.721518e+09,1.0
12713,2019-02-27,470.0,99.0,4.0,96.0,15646.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383236e+10,99.0,8.722888e+09,1.0
12714,2019-02-28,470.0,99.0,4.0,96.0,15670.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383236e+10,99.0,8.724136e+09,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15344,2019-03-21,44338.0,99.0,2.0,96.0,16176.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.778025e+09,1.0
15345,2019-03-22,44338.0,99.0,2.0,96.0,16200.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.779657e+09,1.0
15346,2019-03-23,44338.0,99.0,2.0,96.0,16224.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.781085e+09,1.0
15347,2019-03-24,44338.0,99.0,2.0,96.0,16248.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.782419e+09,1.0
15348,2019-03-25,44338.0,99.0,2.0,96.0,16272.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.783980e+09,1.0

rnn계열의 모델을 돌릴경우 1로 라벨된 시점에서 30일전이 있어야해서 거기에 해당하지 않는 값들은 제거한다.

In [44]:
# 라벨이 1인 행을 필터링합니다.
selected_disk_model_1 = del_fail_after_row[del_fail_after_row['label'] == 1]

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
selected_disk_model_1 = selected_disk_model_1.sort_values(by=['disk_id', 'index'])

# disk_id와 model 열만을 선택하여 새로운 데이터 프레임에 저장합니다.
selected_disk_model_1 = selected_disk_model_1[['disk_id']].drop_duplicates().reset_index(drop=True)

to_delete_id =[]
for disk_id in list(selected_disk_model_1.values.squeeze()):
    disk_data = del_fail_after_row[del_fail_after_row['disk_id'] == disk_id].copy()
    disk_data = disk_data.sort_values(by='index')
    disk_data.reset_index(inplace=True,drop=True)

    failed_index = disk_data[disk_data['label']==1]['index'].index.min()
    start_index = disk_data.index.min()

    if(failed_index - start_index) < 30:
        to_delete_id.append(disk_id)

# failed_disk_ids에 해당하는 행들을 제거
del_fail_after_row = del_fail_after_row[~del_fail_after_row['disk_id'].isin(to_delete_id)]
del_fail_after_row

,index,disk_id,n_5,r_5,n_9,r_9,n_12,r_12,n_177,r_177,...,r_194,n_195,r_195,n_199,r_199,n_241,r_241,n_242,r_242,label
12656,2019-01-01,470.0,99.0,4.0,97.0,14280.0,99.0,18.0,99.0,7.0,...,28.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.543009e+09,0.0
12657,2019-01-02,470.0,99.0,4.0,97.0,14304.0,99.0,18.0,99.0,7.0,...,28.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.544827e+09,0.0
12658,2019-01-03,470.0,99.0,4.0,97.0,14328.0,99.0,18.0,99.0,7.0,...,28.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.546758e+09,0.0
12659,2019-01-04,470.0,99.0,4.0,97.0,14352.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.548679e+09,0.0
12660,2019-01-05,470.0,99.0,4.0,97.0,14376.0,99.0,18.0,99.0,7.0,...,29.0,200.0,0.0,100.0,0.0,99.0,1.383233e+10,99.0,8.550465e+09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15344,2019-03-21,44338.0,99.0,2.0,96.0,16176.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.778025e+09,1.0
15345,2019-03-22,44338.0,99.0,2.0,96.0,16200.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.779657e+09,1.0
15346,2019-03-23,44338.0,99.0,2.0,96.0,16224.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.781085e+09,1.0
15347,2019-03-24,44338.0,99.0,2.0,96.0,16248.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.782419e+09,1.0
15348,2019-03-25,44338.0,99.0,2.0,96.0,16272.0,99.0,21.0,99.0,6.0,...,31.0,200.0,0.0,100.0,0.0,99.0,1.352326e+10,99.0,8.783980e+09,1.0

In [45]:
del_fail_after_row[del_fail_after_row['label']==1]['disk_id'].unique().shape

(216,)

In [ ]:
import random

random.seed(42)  # 랜덤 선택 결과 재현을 위한 시드 설정

unique_disk_ids=data[data['label']==0]['disk_id'].unique()
selected_ids = random.sample(list(unique_disk_ids), 304)  # unique_disk_ids에서 랜덤으로 304개 선택

selected_disk_ids = pd.Series(selected_ids, name='disk_id')

In [ ]:
dfs_to_concat = []  # 추가할 데이터프레임들을 저장할 리스트

for disk_id in selected_disk_ids:
    disk_data = data[data['disk_id'] == disk_id].copy()
    disk_data['ds'] = pd.to_datetime(disk_data['ds'], format='%Y%m%d')
    disk_data = disk_data.sort_values(by='ds')
    disk_data = disk_data.set_index('ds', drop=True)
    all_dates = pd.date_range(start=disk_data.index.min(), end=disk_data.index.max(), freq='D')
    disk_data = disk_data.reindex(all_dates)
    disk_data = disk_data.interpolate(method='linear')
    dfs_to_concat.append(disk_data)

selected_filtered_data_healthy = pd.concat(dfs_to_concat)  # 데이터프레임들을 연결하여 새로운 데이터프레임 생성

selected_filtered_data_healthy = selected_filtered_data_healthy.reset_index()  # 인덱스 재설정