In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pycaret
import matplotlib.pyplot as plt

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71556 entries, 0 to 71555
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    71556 non-null  datetime64[ns]
 1   disk_id  71556 non-null  float64
 2   n_5      71556 non-null  float64
 3   r_5      71556 non-null  float64
 4   n_9      71556 non-null  float64
 5   r_9      71556 non-null  float64
 6   n_12     71556 non-null  float64
 7   r_12     71556 non-null  float64
 8   n_177    71556 non-null  float64
 9   r_177    71556 non-null  float64
 10  n_180    71556 non-null  float64
 11  r_180    71556 non-null  float64
 12  n_181    71556 non-null  float64
 13  r_181    71556 non-null  float64
 14  n_182    71556 non-null  float64
 15  r_182    71556 non-null  float64
 16  n_183    71556 non-null  float64
 17  r_183    71556 non-null  float64
 18  n_184    71556 non-null  float64
 19  r_184    71556 non-null  float64
 20  n_187    71556 non-null  float64
 21  r_187    71556 non-null  float64
 22  n_190    71556 non-null  float64
 23  r_190    71556 non-null  float64
 24  n_194    71556 non-null  float64
 25  r_194    71556 non-null  float64
 26  n_195    71556 non-null  float64
 27  r_195    71556 non-null  float64
 28  n_199    71556 non-null  float64
 29  r_199    71556 non-null  float64
 30  n_241    71556 non-null  float64
 31  r_241    71556 non-null  float64
 32  n_242    71556 non-null  float64
 33  r_242    71556 non-null  float64
 34  label    71556 non-null  float64
dtypes: datetime64[ns](1), float64(34)
memory usage: 19.1 MB

In [4]:
data.columns

Index(['index', 'disk_id', 'n_5', 'r_5', 'n_9', 'r_9', 'n_12', 'r_12', 'n_177',
       'r_177', 'n_180', 'r_180', 'n_181', 'r_181', 'n_182', 'r_182', 'n_183',
       'r_183', 'n_184', 'r_184', 'n_187', 'r_187', 'n_190', 'r_190', 'n_194',
       'r_194', 'n_195', 'r_195', 'n_199', 'r_199', 'n_241', 'r_241', 'n_242',
       'r_242', 'label'],
      dtype='object')

In [3]:
data = pd.read_csv('../ssd_data/final_data/final_MB1.csv')
# 'index' 컬럼을 datetime 형태로 변환
data['index'] = pd.to_datetime(data['index'])
df = data.drop(['disk_id','index'],axis=1)

from pycaret.classification import *

train_df, test_df = train_test_split(df, test_size=0.2)
# PyCaret의 setup() 함수를 사용하여 환경 설정
cla_test_1 = setup(data=train_df, target='label', train_size= 0.8, fold=5)

# AutoML Classification 모델 훈련 및 비교
best_model = compare_models()

In [9]:
train_columns = ['label']
for i in train_df.columns:
    if i[0] == 'r':
        train_columns.append(i)

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from pycaret.classification import *
train_df, test_df = train_test_split(df, test_size=0.2)

X = train_df[train_columns]
# y = train_df['label']
X_test = test_df[train_columns]
# y_test = test_df['label']

# PyCaret의 setup() 함수를 사용하여 환경 설정
cla_test_1 = setup(data=X, target='label', train_size= 0.8, fold=5)
best_model = compare_models()
# AutoML Classification 모델 훈련 및 비교
# best_model = compare_models()
# clf = RandomForestClassifier(random_state=42)
# clf.fit(X_,y)

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57244 entries, 31808 to 36865
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   57244 non-null  float64
 1   r_5     57244 non-null  float64
 2   r_9     57244 non-null  float64
 3   r_12    57244 non-null  float64
 4   r_177   57244 non-null  float64
 5   r_180   57244 non-null  float64
 6   r_181   57244 non-null  float64
 7   r_182   57244 non-null  float64
 8   r_183   57244 non-null  float64
 9   r_184   57244 non-null  float64
 10  r_187   57244 non-null  float64
 11  r_190   57244 non-null  float64
 12  r_194   57244 non-null  float64
 13  r_195   57244 non-null  float64
 14  r_199   57244 non-null  float64
 15  r_241   57244 non-null  float64
 16  r_242   57244 non-null  float64
dtypes: float64(17)
memory usage: 9.9 MB

In [15]:
X.describe()

,label,r_5,r_9,r_12,r_177,r_180,r_181,r_182,r_183,r_184,r_187,r_190,r_194,r_195,r_199,r_241,r_242
count,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,57244.000000,5.724400e+04,5.724400e+04
mean,0.102124,1.273228,13533.263475,20.675017,174.615399,6518.797382,0.000664,0.087939,1.273228,0.000087,265.218189,29.141758,29.141688,265.218189,3.181547,4.925438e+11,3.562207e+11
std,0.302814,44.296863,3698.568942,13.823732,156.680991,56.958100,0.025756,8.403659,44.296863,0.009346,7752.561365,2.462613,2.462645,7752.561365,215.854800,5.082710e+11,3.578787e+11
min,0.000000,0.000000,1651.000000,3.000000,0.000000,3299.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000,22.000000,0.000000,0.000000,0.000000e+00,2.195140e+05
25%,0.000000,0.000000,12938.000000,16.000000,37.000000,6501.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.000000,27.000000,0.000000,0.000000,9.085112e+10,5.424894e+10
50%,0.000000,0.000000,14574.000000,18.000000,149.000000,6523.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.000000,29.000000,0.000000,0.000000,3.679993e+11,2.927054e+11
75%,0.000000,0.000000,15928.000000,22.000000,278.000000,6543.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.000000,31.000000,0.000000,0.000000,7.531874e+11,5.604316e+11
max,1.000000,3192.000000,20338.000000,125.000000,882.000000,6606.000000,1.000000,1064.000000,3192.000000,1.000000,229624.000000,41.000000,41.000000,229624.000000,16479.000000,2.886767e+12,3.514336e+12

In [26]:
for i in list(X.columns):
    if X[i].nunique() < 5:
        print(i)

label
r_181
r_184

In [18]:
X[X['r_184']==1]

,label,r_5,r_9,r_12,r_177,r_180,r_181,r_182,r_183,r_184,r_187,r_190,r_194,r_195,r_199,r_241,r_242
51413,1.0,0.0,15304.0,14.0,197.0,6563.0,0.0,0.0,0.0,1.0,0.0,30.0,30.0,0.0,0.0,5.820949e+11,3.927725e+11
65034,1.0,0.0,9370.0,15.0,128.0,6569.0,0.0,0.0,0.0,1.0,0.0,30.0,30.0,0.0,0.0,3.933882e+11,2.949762e+11
47223,1.0,0.0,8372.0,14.0,139.0,6590.0,0.0,0.0,0.0,1.0,0.0,39.0,39.0,0.0,0.0,4.747688e+11,2.633609e+11
47224,1.0,0.0,8396.0,14.0,139.0,6590.0,0.0,0.0,0.0,1.0,0.0,33.0,33.0,0.0,0.0,4.748542e+11,2.638365e+11
64864,1.0,0.0,9562.0,15.0,119.0,6522.0,0.0,0.0,0.0,1.0,0.0,31.0,31.0,0.0,0.0,3.677375e+11,3.250244e+11

In [27]:
X[X['r_184']==1]['label'].value_counts()

1.0    5
Name: label, dtype: int64

In [29]:
prediction = predict_model(best_model, data = X_test)
from pycaret.utils import check_metric
check_metric(prediction['Purchase'], prediction['Label'], metric = 'Accuracy')

ImportError: cannot import name 'check_metric' from 'pycaret.utils' (/Users/parkjeongwon/miniforge3/lib/python3.10/site-packages/pycaret/utils/__init__.py)